@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #fff;
$font-cormorant: 'Cormorant', serif;
$font-jost: 'Jost', sans-serif;
html, body {
	margin: 0;
	padding: 0;
	font-size: 10px;
}
body {
	font-size: 1.6rem;
	font-family: $font-jost;
	color: $green;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header  {
	max-width: 1440px;
	margin: 0 auto 4.7rem;
	padding: 3.85rem 15px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__flex-left {
		display: flex;
		gap: 12rem;
		align-items: center;
	}
	&__flex-right {
		display: flex;
		gap: 8rem;
		align-items: center;
	}
	&__nav {
		display: flex;
		list-style-type: none;
		margin: 0;
		padding-left: 0;
		gap: 4.8rem;
	}
	&__link {
		text-decoration: none;
		color: $green;
		&:hover {
			color: $orange; 
		}
	}
	&__tel {
		color: $green;
		text-decoration: none;
		font-weight: 500;
		letter-spacing: .12rem;
		&:hover {
			color: $orange;
		}
	}
	&__cart {
		display: block;
		background-image: url(../images/cart.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 1.6rem 1.4rem;
		background-color: $orange;
		width: 4rem;
		height: 4rem;
		border-radius: 100%;
		border: 1px solid $orange;
		text-decoration: none;
		position: relative;
		&:hover {
			background-color: $green;
			border: 1px solid $green;
		}
	}
	&__counter {
		font-size: .8rem;
		color: $white;
		position: absolute;
		top: 0.55rem;
		right: 0.65rem;
	}
}
.logo {
	display: block;
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 12rem;
	height: 3.2rem;
	margin-right: 10px;
}
nav {	
	flex-basis: 56.8%;
}
.main {
	position: relative;
	background-image: url(../images/main.png);
	background-size: cover;
	background-position-x: center;
	background-repeat: no-repeat;
	padding-bottom: 187px;
	overflow: hidden;
	z-index: 0;
	&__text {
		margin-top: 39px;
	}
	&__item {
		margin-left: 12rem;
		max-width: 378px;
		margin-top: 6rem;
	}
	&__link {
		margin-top: 5.4rem;
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
	}
	&__cover {
		position: relative;
		flex-basis: 760px;
		height: 760px;
		border: 1px solid rgba($green, 0.4);
		border-radius: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__line {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 658px;
		height: 658px;
		// box-shadow: 0 0 0 1px rgba($green, 0.4), 0 0 0 53px rgba($green, 0), 0 0 0 54px rgba($green, 0.4);
		border: 1px solid rgba($green, 0.4);
		border-radius: 100%;
	}
	&__image {
		width: 91%;    
		box-shadow: 30px 55px 60px -60px rgba($green, 0.8);
		border-radius: 100%;
	}
	&__btn {
		position: absolute;
		border: none;
		background-color: transparent;
		padding: 0;
		text-align: left;
		line-height: 1.5;
		&:hover {			
			&::before {
				background-color: $orange;
				box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
				}			
		}
		&::before {
			content: '';
			position: absolute;
			background-color: $green;
			width: 11px;
			height: 11px;
			box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
			border-radius: 100%;
			color: $green;
		}		
	}
	&__btn_1 {
		top: 42px;
		left: 63px;
		&::before {
			content: '';
			bottom: 11px;
			right: -35px;
		}
	}
	&__btn_2 {
		top: 190px;
		right: 3px;
		&::before {
			content: '';
			top: 20px;
			left: -25px;
		}
	}
	&__btn_3 {
		bottom: -51px;
		right: 244px;
		&::before {
			content: '';
			top: -21px;
			left: 12px;
		}
	}
	&__food {
		display: block;
		color: rgba($green, 0.8); 
	}
	&__tomato {
		position: absolute;
		bottom: 115px;
		right: 12rem;
		width: 11rem;
		z-index: -1;
	}
	&__avocado {
		position: absolute;
		height: 12.2rem;
		top: 5rem;
		right: 3rem;
		z-index: -1;
	}
	&__breans {
		position: absolute;
		width: 14rem;
		bottom: 16rem;
		left: -3.4rem;
		z-index: -1;
	}
	&__cucumber {
		position: absolute;
		width: 8.5rem;
		top: -5rem;
		left: 69rem;
		z-index: -1;
	}
	&__pepper {
		position: absolute;
		width: 8.4rem;
		top: 40rem;
		left: 4rem;
		z-index: -1;
	}
	
}
.title {
	font-family: $font-cormorant;
	margin: 0;
	font-size: 8rem;
	font-weight: 700;
	line-height: 1;
	&__span {
		font-style: italic;
		font-weight: 700;
		font-size: 8rem;
	}
	&_block {
		display: block;
	}
	
}
.title__span {
	display: block;	
}
.title_exclamatory::after {	
	content: "!";
	font-style: normal;
}
.description {
	margin: 0;
	&_size-s {
		font-size: 1.8rem;
		line-height: 1.5;
	}
	&_size-m {
		font-size: 2.4rem;
		line-height: 1.5;
	}

}
.link {
	display: inline-block;
	color: $white;
	text-transform: uppercase;
	padding: 2.4rem 4.4rem;
	background-color: $orange;
	box-shadow: 0 1rem .6rem rgba(207, 92, 13, 0.2);
	text-decoration: none;
	border-radius: 3.8rem;
	letter-spacing: 0.13rem;
}
.offer {
	position: relative;
	background-image: url(../images/offer.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 2rem;
	&__text {
		margin-top: 6rem;
		max-width: 700px;
	}
	&__slider {
		overflow: hidden;
		padding-top: 9.5rem;
	}
}
.swiper {
	overflow: initial;
	&-slide {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		box-sizing: border-box;
		border: 1px solid rgba($green, 0.4);	
		border-radius: 2rem;
		padding: 3.6rem 4rem;
		height: 52rem;
		&:hover {
			// border: 3px solid 	
			box-shadow: 0 0 0 3px rgba($green, 0.4);
		}
		&__title {
			padding: 0;
			margin: 0;
			font-size: 3rem;
			color: $green;
			font-weight: 700;
			font-family: $font-cormorant;
		}
		&__text {
			padding: 0;
			margin: 0;
			margin-top: 2.5rem;
			max-width: 293px;
			line-height: 1.5;
			color: rgba($green, 0.7);
		}
		&__link {
			display: flex;
			align-items: center;
			text-decoration: none;
			text-transform: uppercase;
			// color: rgba($green, 0.8);
			color: $green;
			opacity: 0.8;
			letter-spacing: 0.1rem;
			font-weight: 500;
			margin-top: 3.5rem;
			
			&::before {
				content: "";
				background-image: url(../images/swiper-plus.svg);
				background-repeat: no-repeat;
				background-size: cover;
				display: block;
				width: 29px;
				height: 29px;
				margin-right: 2.1rem;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
	&-pagination {
		display: none;
	}
	&-button-next, &-button-prev {
		top: -24px;
		left: initial;
		right: 23.13rem;
		&::after {
			color: $green;
			font-size: 1.8rem;
		}
	}
	&-button-prev {
		right: 31.3rem;
	}	
} 
.advantage {
	padding-top: 400px;
}
footer {
	padding-top: 200px;
}