@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: rgb(255, 255, 255);
$font-cormorant: "Cormorant", serif;
$font-jost: 'Jost', sans-serif;
html, body {
	margin: 0;
	padding: 0;
	font-size: 10px;
}
body {
	font-size: 1.6rem;
	font-family: $font-jost;
	color: $green;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/screen.jpg);
	z-index: 0;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header  {
	max-width: 1440px;
	margin: 0 auto 4.7rem;
	padding: 3.85rem 15px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__flex-left {
		display: flex;
		gap: 12rem;
		align-items: center;
	}
	&__flex-right {
		display: flex;
		gap: 8rem;
		align-items: center;
	}
	&__nav {
		display: flex;
		list-style-type: none;
		margin: 0;
		padding-left: 0;
		gap: 4.8rem;
	}
	&__link {
		text-decoration: none;
		color: $green;
		transition: .2s ease-in;
		&:hover {
			color: $orange; 
		}
	}
	&__tel {
		color: $green;
		text-decoration: none;
		font-weight: 500;
		letter-spacing: .12rem;
		transition: .2s ease-in;
		&:hover {
			color: $orange;
		}
	}
	&__cart {
		display: block;
		background-image: url(../images/cart.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 1.6rem 1.4rem;
		background-color: $orange;
		width: 4rem;
		height: 4rem;
		border-radius: 100%;
		border: 1px solid $orange;
		text-decoration: none;
		position: relative;
		transition: .2s ease-in;
		&:hover {
			background-color: $green;
			border: 1px solid $green;
		}
	}
	&__counter {
		font-size: .8rem;
		color: $white;
		position: absolute;
		top: 0.55rem;
		right: 0.65rem;
	}
}
.logo {
	display: block;
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 12rem;
	height: 3.2rem;
	margin-right: 10px;
	transform: scale(1);
	transition: .2s ease-in;
	&:hover {
		transform: scale(1.1112);
	}
}
nav {	
	flex-basis: 56.8%;
}
.main {
	position: relative;
	// background-image: url(../images/main.png);
	background-size: cover;
	background-position-x: center;
	background-repeat: no-repeat;
	padding-bottom: 187px;
	z-index: 0;
	&__text {
		margin-top: 39px;
	}
	&__item {
		margin-left: 12rem;
		max-width: 378px;
		margin-top: 6rem;
	}
	&__link {
		margin-top: 5.4rem;
	}
	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
	}
	&__cover {
		position: relative;
		flex-basis: 760px;
		height: 760px;
		border: 1px solid rgba($green, 0.4);
		border-radius: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__line {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 658px;
		height: 658px;
		// box-shadow: 0 0 0 1px rgba($green, 0.4), 0 0 0 53px rgba($green, 0), 0 0 0 54px rgba($green, 0.4);
		border: 1px solid rgba($green, 0.4);
		border-radius: 100%;
	}
	&__image {
		width: 91%;    
		// box-shadow: 30px 55px 60px -60px rgba($green, 0.8);
		box-shadow: 20px 20px 33px 0px rgba($green, 0.5);
		border-radius: 100%;
		animation: shadow infinite 5s;
	}
	&__btn {
		position: absolute;
		border: none;
		background-color: transparent;
		padding: 0;
		text-align: left;
		line-height: 1.5;
		transition: .2s ease-in;
		&:hover {			
			&::before {
				background-color: $orange;
				box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
				}			
		}
		&::before {
			content: '';
			position: absolute;
			background-color: $green;
			width: 11px;
			height: 11px;
			box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
			border-radius: 100%;
			color: $green;
		}		
	}
	&__btn_1 {
		top: 42px;
		left: 63px;
		&::before {
			content: '';
			bottom: 11px;
			right: -35px;
			transition: 0.2s ease-in;
		}
	}
	&__btn_2 {
		top: 190px;
		right: 3px;
		&::before {
			content: '';
			top: 20px;
			left: -25px;
		}
	}
	&__btn_3 {
		bottom: -51px;
		right: 244px;
		&::before {
			content: '';
			top: -21px;
			left: 12px;
		}
	}
	&__food {
		display: block;
		color: rgba($green, 0.8); 
	}
	&__tomato {
		position: absolute;
		bottom: 115px;
		right: 12rem;
		width: 11rem;
		z-index: -1;
		animation: zoom both 5s infinite;
	}
	&__avocado {
		position: absolute;
		height: 18.9rem;
		top: 5rem;
		right: 3.2rem;
		z-index: -1;
	}
	&__breans {
		position: absolute;
		width: 14rem;
		bottom: 16rem;
		left: -3.4rem;
		z-index: -1;
		animation: trash infinite 5s;
		animation: trash .3s linear infinite both;
	}
	&__cucumber {
		position: absolute;
		width: 8.5rem;
		top: -5rem;
		left: 69rem;
		z-index: -1;
		animation: liines infinite linear 5s;
	}
	&__pepper {
		position: absolute;
		width: 8.4rem;
		top: 40rem;
		left: 4rem;
		z-index: -1;
		animation: zoom 5s linear infinite;
	}
	
}
.title {
	font-family: $font-cormorant;
	margin: 0;
	font-size: 8rem;
	font-weight: 700;
	line-height: 1;
	
	&__span {
		font-style: italic;
		font-weight: 700;
		font-size: 8rem;
		animation: typing 3s infinite;
	}
	&_block {
		display: block;
	}
}
.title_exclamatory::after {	
	content: "!";
	font-style: normal;
}
.description {
	margin: 0;
	&_size-s {
		font-size: 1.8rem;
		line-height: 1.5;
	}
	&_size-m {
		font-size: 2.4rem;
		line-height: 1.5;
	}

}
.link {
	display: inline-block;
	color: $white;
	text-transform: uppercase;
	padding: 2.4rem 4.4rem;
	background-color: $orange;
	box-shadow: 0 1rem .6rem rgba(207, 92, 13, 0.2);
	text-decoration: none;
	border-radius: 3.8rem;
	letter-spacing: 0.13rem;
	border: none;
	transition: .2s ease-in;
	&:hover {
		box-shadow: .48rem .87rem .65rem rgba(207,92,13,0.2);
		background-color: #bf601f;
	}
	&_max {
		padding-left: 51px;
		padding-right: 51px;
	}
	&_min {
		padding: 21px 35px 18px;
		font-size: 1.4rem;
		letter-spacing: .1rem;
	}
}
.offer {
	position: relative;
	// background-image: url(../images/offer.png);
	// background-size: cover;
	// background-repeat: no-repeat;
	padding-top: 2rem;
	padding-bottom: 12.8rem;
	&__text {
		margin-top: 6rem;
		max-width: 700px;
	}
}
.slider {
	overflow: hidden;
	padding-top: 9.5rem;
}
.swiper {
	overflow: initial;
	&-slide {
		box-sizing: border-box;
		border: 1px solid rgba($green, 0.4);	
		border-radius: 2rem;
		z-index: 0;
		transition: .2s ease-in;
		&_white {
			padding: 3.9rem 3.7rem;
			background-repeat: no-repeat;
			background-size: cover;
			height: 52rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			transition: .2s ease-in;
			&:hover {
				.swiper-slide__hover {
					height: 233px;
					opacity: 1;				
					background-size: 104%;
					}
				&::after {
						content: "";
						position: absolute;
						background-color: rgba($white, 0.55);
						width: calc(100% - 4px);
						height: calc(100% - 4px);
						top: 2px;
						left: 2px;
						border-radius: 2rem;
						z-index: -1;
				}
			}

		}
		&:hover {
			box-shadow: 0 0 0 2px rgba($green, 0.4) inset;			
		}
		&_milk {
			background-size: 97%;		
			background-image: url(../images/milk.png);
			transition: .2s ease-in;	
			// &:hover {
			// 	background-size: cover;	
			// }
		}
		&_pasta {
			background-size: cover;
			background-image: url(../images/pasta.png);
			transition: .2s ease-in;
			// &:hover {
			// 	background-size: 103%;	
			// }
		}
		&_steaks {
			background-size: cover;
			background-image: url(../images/steaks.png);
			transition: .2s ease-in;
			// &:hover {
			// 	background-size: 103%;	
			// }
		}
		&__title {
			padding: 0;
			margin-bottom: 0;
			font-size: 3rem;
			color: $green;
			font-weight: 700;
			font-family: $font-cormorant;
		}
		&__hover {
			opacity: 0;
			height: 0;
		}
		&__text {
			padding: 0;
			margin: 0;
			margin-top: 2.5rem;			
			margin-bottom: 3.4rem;
			max-width: 263px;
			line-height: 1.5;
			color: rgba($green, 0.7);
			transition: .2s ease-in;
			&:hover {
				opacity: 1;
			}
		}
		&__link {
			display: flex;
			align-items: center;
			text-decoration: none;
			text-transform: uppercase;
			color: $green;
			opacity: .8;
			letter-spacing: 0.1rem;
			font-weight: 500;	
			transition: .2s ease-in;
			&::before {
				content: "";
				background-image: url(../images/swiper-plus.svg);
				background-repeat: no-repeat;
				background-size: cover;
				display: block;
				width: 3rem;
				height: 3rem;
				margin-right: 2.1rem;
			}
			&:hover {
				opacity: 1;
			}
			
		}
		&_hight {
			// height: 68.6rem;
			padding: 2.9rem 3.7rem 4rem;
		}
		&_cover {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 322px;
			text-align: center;
		}
		&_image {
			max-width: 351px;
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
		&_footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 3.3rem;
		}
		&_description {
			padding: 0;
			margin-top: 2.2rem;
			max-width: 290px;
			line-height: 1.5;
			color: rgba($green, 0.7);
			font-size: 1.8rem;
			margin-bottom: 1px;
			min-height: 69px;
		}
		&_price {
			font-size: 2.4rem;
			margin-top: 10px;
			margin-bottom: 1.5rem;
		}
		
	}
	&-pagination {
		display: none;
	}
	&-button-next, &-button-prev {
		top: -60px;
		left: initial;
		transition: .2s ease-in;
		&:hover {
			&::after {
				color: rgba($green, 1);
			}
		}
		&::after {
			color: rgba($green, .4);
			font-size: 1.8rem;
		}
	}
	&-button-prev {
		right: 7.3rem;
	}	
	&-button-next {
		right: -8px;
	}
} 
.counter {
	display: flex;
	&_btn {
		cursor: pointer;
		width: 50px;
		height: 50px;
		border: 1px solid $green;
		background-color:  transparent;
		padding: 0;
		background-position: center;
		border-radius: 100%;		
	}
	&_minus {
		pointer-events: none;
		background-image: url(../images/minus-counter.svg);
		background-size: 30px 30px;
		background-repeat: no-repeat;
		opacity: .4;
	}
	
	&_plus {
		background-image: url(../images/plus-counter.svg);
		background-size: 30px 30px;
		background-repeat: no-repeat;
		transition: 0.2s ease-in;
		&:hover {
			opacity: 1;
		}
	}
	&_input {
		text-align: center;
		font-size: 2.4rem;
		width: 46px;
		border: none;
		padding: 0;
		transition: 0.2s;
	}
}
.about {
	// background-image: url(../images/about.png);
	// background-size: cover;
	// background-repeat: no-repeat;
	padding-top: 3.8rem;
	padding-bottom: 147px;
	&__box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 6.8rem;
		gap: 3rem;
	}
	&__text {
		margin-left: 12rem;
		margin-top: 2rem;
		flex-basis: 58rem;
		
	}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		gap: 8.7rem;
		padding-left: 0;
		margin: 0;
		font-family: $font-cormorant;
		font-size: 3rem;
		font-weight: 700;
		font-style: italic;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// gap: 1.4rem;
		&::before {
			content: '';
			background-position: center center;
			width: 84px;
			height: 84px;
			border: 1px solid rgba($green, 0.4);
			border-radius: 100%;
			margin-bottom: 1.5rem;
			background-repeat: no-repeat;
			animation: borders infinite 5s;
			}
		&:nth-child(1) {
			&::before {
			background-image: url(../images/fruits.png);
			background-size: 44px 41px;
			}
		}
		&:nth-child(2) {
			&::before {
				background-image: url(../images/traditional.png);
				background-size: 44px 41px;
			}
		}
		&:nth-child(3) {
			&::before {
			background-image: url(../images/goodd.png);
			background-size: 45px 39px;
			}
		}				
	}	
}
.trands {
	padding-top: 4.6rem;
	// background-image: url(../images/new.png);
	// background-size: cover;
	// background-repeat: no-repeat;
	padding-bottom: 30px;
	&__text {
		margin-top: 4rem;
	}
	&_title {
		margin-top: 10px;
		border: 1px solid red;		
	}
}
.catalog {
	padding-top: 15.7rem;
	padding-bottom: 12rem;
	// background-size: cover;
	// background-repeat: no-repeat;
	overflow: hidden;
	// background-image: url(../images/catalog.png);
	&__item {
		margin-top: 3.7rem;
		margin-bottom: 112px;
	}
	&__list {
		padding-left: 0;
		list-style: none;
		display: flex;
		gap: 20px;
	}
	
}
.category {		
	&__item {
		opacity: 1;
	}	
	&__link {
		font-size: 1.8rem;
		text-decoration: none;
		color: rgba($green, 0.5);
		border-radius: 35px;
		// background-color: #0d1d32;
		border: 1px solid rgba($green, 0.5);
		padding: 18px 83px 23px;
		transition: .2s ease-in;
		&:hover {
			border: 1px solid rgba($orange, 0.5);
			color: $orange;
		}
		&_min {
			padding: 1.9rem 3.3rem 2.3rem;
		}
		&_s {
			padding: 18px 65px 23px;
		}
	}		
	&__active {
		color: $orange;
		border: 1px solid $orange;
	}
	&-refresh {
		margin: 5.8rem auto 0;
		text-align: center;
		display: flex;
		justify-content: center;
	}
	&__button {
		color: $green;
		border: none;
		background-color: transparent;
		font-size: 1.6rem;
		letter-spacing: .1rem;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1.7rem;
		opacity: .8;
		cursor: pointer;
		transition: .2s ease-in;
		&:hover {
			opacity: 1;			
		}
		&::before {
			content: '';
			display: block;
			background-image: url(../images/refresh.svg);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 25px;
			height: 25px;
			opacity: .8;
		}
	}
}
.catalog-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	margin-top: 7.6rem;
	&__item {
		box-sizing: border-box;
		border: 1px solid rgba(39, 48, 15, 0.4);
		border-radius: 2rem;
		padding: 40px 30px 40px;
		transition: .2s ease-in;
		&:hover {
			box-shadow: 0 0 0 2px rgba(39, 48, 15, 0.4) inset;
		}
	}
	&__cover {
		overflow: hidden;
		width: 100%;
		height: 206px;
		text-align: center;
	}
	&__image {
		max-width: 250px;
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
	&__title {		
		padding: 0;
		margin: 0;
		font-size: 3rem;
		font-weight: 700;
		font-family: $font-cormorant;
	}
	&__description {
		padding: 0;
		// margin-top: 2.2rem;
		max-width: 238px;
		line-height: 1.5;
		font-size: 1.6rem;
		margin-bottom: 1px;
		min-height: 40px;
		color: rgba($green, 0.7);
	}
	&__price {
		font-size: 2.4rem;
		margin-top: 1.5rem;
		// margin-bottom: 1.5rem;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 3.3rem;
	}
}
.counter_btn_min  {
	background-size: 30px 30px;
	width: 40px;
	height: 40px;
}
.counter_input_min {
	width: 30px;
}
.delivery {
	// background-image: url(../images/delivery.png);
	// background-repeat: no-repeat;
	// background-size: cover;
	padding-top: 2rem;
	padding-bottom: 16.5rem;
	&__holder {
		flex-basis: 44%;
	}
	&__box {
		display: flex;
		font-size: 1.8rem;
		line-height: 1.5;
		margin-top: 7.4rem;
		margin-left: 12rem;
		gap: 11.5%;
	}
	&__payment {
		flex-basis: 37%;
		background-color: transparent;
	}
	&__description {
		max-width: 575px;
		margin: 0;
		&_padding {			
		margin-top: 27px;
		}
	}
	&__link {
		position: relative;
		color: $green;
		text-decoration: none;
		transition: .2s ease-in;
		&:hover {
			color: $orange;
			&:after {
				background-color: $orange;
			}
		}
		&::after { 
			content: '';
			display: block;
			position: absolute;
			background-color: #74776b;
			bottom: 3px;
			height: 1px;
			left: 0;
			width: 100%;
			transition: .2s ease-in;
		}
	}
	&__sale {
		color: $green;
		margin-top: 0;
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 3rem;
		padding-left: 0;
		list-style: none;
		margin-top: 45px;
		margin-bottom: 0;
	}
	&__item {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		opacity: .4;
		&_image1 {
			background-image: url(../images/mastercard.svg);			
			width: 53px;
			height: 32px;
			transition: .2s ease-in;
			&:hover {
				opacity: 1;
				transform: scale(1.2);
			}
		}
		&_image2 {
			background-image: url(../images/visa.svg);			
			width: 74px;
			height: 23px;
			transition: .2s ease-in;
			&:hover {
				opacity: 1;
				transform: scale(1.2);
			}
		}
		&_image3 {
			background-image: url(../images/paypal.svg);
			width: 87px;
			height: 24px;
			transition: .2s ease-in;
			&:hover {
				opacity: 1;
				transform: scale(1.2);
			}
		}
	}
	&__colory {
		color: $orange;
	}
}
.contact {	
	border-bottom: 1px solid #d4d6cf;	
	padding-top: 37px;
	padding-bottom: 16rem;
	&-box {
		display: flex;
		justify-content: space-between;
		&__item {
			flex-grow: 1;
			margin-top: 2.6rem;
		}
		&__text {
			max-width: 400px;
			font-size: 1.8rem;
			line-height: 1.5;
			}
			&__form {
				flex-basis: 470px;
				padding: 3.1rem 5.8rem 3.8rem;
				border: 2px solid rgba($green, 0.4);
				border-radius: 2rem;
			}
			&__holder {
				margin-top: 6.2rem;
				margin-left: 12rem;
			}
			&__list {
				padding-left: 0;
				padding-top: 42px;
				list-style: none;
			}
			&__items {
				margin-bottom: 18px;
			}
			&__link {
				text-decoration: none;
				color: $green;
				font-size: 2.4rem;
				font-weight: 500;
				line-height: 1.2;
				display: flex;
				// justify-content: space-between;
				align-items: center;
				gap: 3rem;
				transition: .2s ease-in;
					&:hover {
						color: $orange;
					}
					&::before {
						content: '';
						display: inline-block;
						background-position: center center;
						background-repeat: no-repeat;
						background-size: contain;
					}
					&_mail {
						&::before {
							background-image: url(../images/mail.svg);
							width: 29px;
							height: 27px;
						}	
					}
					&_tel {
						&::before {
							background-image: url(../images/phone.svg);
							width: 29px;
							height: 28px;
						}				
					}
			
			}
		}
}	
.card {
	
	&__title {
		margin-top: 0;
		font-size: 3rem;
		font-family: $font-cormorant;
	}
	&__label {
		font-size: 1.2rem;
		display: block;
		margin-left: .6rem;
		margin-bottom: 9px;
	}
	&__input {
		display: block;
		border: 1px solid rgba($green, 0.4);
		padding: 2.1rem 3rem;
		margin-bottom: 2.8rem;
		width: 100%;
		box-sizing: border-box;
		border-radius: 2rem;
		transition: 0.2s ease-in;
		&:focus {
			border: 1px solid rgba($green, 1);
			outline: none;
			transition: 0.2s ease-in;
		}
		&:invalid {
			border: red;
		}
	}
	&__check {
		font-size: 1.2rem;
		color: rgba($green, 0.6);
		line-height: 1.5;
		max-width: 36rem;
		max-width: 360px;
		margin-top: 1.6rem;
		margin-bottom: 0;
	}
	&__link {
		margin-top: 1.2rem;
		padding: 2.3rem 4.8rem;
	}
	&__docs {
		position: relative;
		color: rgba($green, 0.6);
		text-decoration: none;
		transition: .2s ease-in;
		&::after {
			content: '';
			position: absolute;
			background-color: rgba($green, 0.6);
			bottom: 3px;
			left: 0;
			width: 100%;
			transition: .2s ease-in;
			&:hover {
				background-color: rgba($green, 1);
			}
		}
		&:hover {
			color: rgba($green, 1);
		}
	}
}
footer {
	padding-top: 7.4rem;
	padding-bottom: 7.4rem;
}
.footer {
	&__box {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}
	&_logo {
		width: 179px;
		height: 48px;
		background-size: contain;
		margin-top: 1rem;
		flex-basis: 20.2%;
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		line-height: 1.5;
	}
	&__item {
		font-size: 1.8rem;
		margin-bottom: 2rem;
	}
	&__link {
		color: $green;
		text-decoration: none;
		&:hover {
			color: $orange;
		}
	}
	&__contact {
		font-size: 2.7rem;
	}
	&__tel {
		display: block;
		color: $green;
		text-decoration: none;
		text-align: right;
		margin-bottom: 2.5rem;
		transition: .2s ease-in;
		&:hover {
			color: $orange;
		}
	}
	&__mail {
		color: $green;
		text-decoration: none;
		font-size: 1.8rem;
		transition: .2s ease-in;
		&:hover {
			color: $orange;
		}
	}
	&__text {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		font-size: 1.6rem;
		color: rgba($green, 0.6);
		margin-top: 16px;
	}
	&__copy {
		display: block;
	}
	&__author {
		color: rgba($green, .6);
		text-decoration: none;
		transition: .2s ease-in;
			&:hover  {
				color: rgba($green, 1);
			}
	}
}
// line-height: 1.2;
.footer-social {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	padding-left: 0;
	margin-top: 3rem;
	&_item {
		display: block;
	}
	&_link {
		box-sizing: border-box;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 100%;
		border: 1px solid $green;
		color: $green;
		width: 50px;
		height: 50px;
		opacity: .8;
		transition: 0.2s ease-in;
		display: block;		
		&_vk {
			background-size: 23px auto;
			background-image: url(../images/vk.svg);
			&:hover {
				opacity: 1;
			}
		}
		&_inst {
			background-size: 18px auto;
			background-image: url(../images/instagram.svg);
			&:hover {
				opacity: 1;
			}
		}
		&_fb {
			background-size: auto 18px;
			background-image: url(../images/facebook.svg);
			&:hover {
				opacity: 1;
			}
		}
	}
}
@keyframes shadow {
	0% {
		box-shadow: 5px 20px 33px 0px rgba($green, 0.5);
	}
	25% {
		box-shadow: 10px 20px 33px 0px rgba($green, 0.5);
	}
	50% {
		box-shadow: 20px 30px 33px 0px rgba($green, 0.5);
		// box-shadow: 0px 20px 33px 0px rgba($green, 0.5);
	}
	75% {
		box-shadow: -10px 20px 33px 0px rgba($green, 0.5);
	}
	100% {
		box-shadow: -5px 20px 33px 0px rgba($green, 0.5);
	}
}
@keyframes zoom {
	0% {
		transform: scale(1);
		transform: rotate(45deg);

	}
	50% {transform: scale(1.5);
		transform: rotate(180deg);
	}
	100% {transform: scale(2), rotate(50deg);
		transform: rotate(50deg);
	}
	
}
@keyframes typing {
	from {
	color: $orange;
	}
	to {
	color: $green;
	}
}
@keyframes trash {
	0% {
		transform:translate(0)
	   }
	   20% {
		transform:translate(-2px,2px)
	   }
	   40% {
		transform:translate(-2px,-2px)
	   }
	   60% {
		transform:translate(2px,2px)
	   }
	   80% {
		transform:translate(2px,-2px)
	   }
	   to {
		transform:translate(0)
	   }
}
@keyframes liines {
	0% {		
		left: 69rem;
	}
	25% {left: 40rem;	
		transform: rotate(180deg);
	}
	50% {left: 20rem;}
	100% {left: 69rem;}
}

@keyframes borders {
	0% {		
		border-top-left-radius: 60%;
		border-bottom-right-radius: 60%;
	}	
	25% {border-bottom-left-radius: 60%;
		border-top-right-radius: 60%;
	}
	75% {border-top-left-radius: 60%;
		border-bottom-right-radius: 60%;
	}
	100% {border-radius: 100%;
		}
}